<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UsersManager4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.zqj.util.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginClServlet</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.zqj.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerUserServlet</display-name>
    <servlet-name>ManagerUserServlet</servlet-name>
    <servlet-class>com.zqj.controller.ManagerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUserServlet</servlet-name>
    <url-pattern>/ManagerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadServlet</display-name>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>com.zqj.controller.LoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/LoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserClServlet</display-name>
    <servlet-name>UserClServlet</servlet-name>
    <servlet-class>com.zqj.controller.UserClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClServlet</servlet-name>
    <url-pattern>/User/UserClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCode</display-name>
    <servlet-name>CreateCode</servlet-name>
    <servlet-class>com.zqj.util.CreateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCode</servlet-name>
    <url-pattern>/CreateCode</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharactorEncodingFilter</display-name>
    <filter-name>CharactorEncodingFilter</filter-name>
    <filter-class>com.zqj.filters.CharactorEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharactorEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/pageerror.jsp</location>
  </error-page>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.zqj.filters.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.zqj.controller.FirstServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
</web-app>